body{
    background-color: #000a1f;
}
h1{
    color: white;
}
.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 10%;
    height: 100;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255 0.648s);
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 25%;
}